<!DOCTYPE html>

<html lang="en, zh-ch, zh-tw">
<head> 
    
</head>    

<body>
   
    <header>   
		<nav>
            <ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Add</a></li>
			<li><a href="#">Study</a></li>
            </ul>
        </nav>
    </header>
    
<h1>Walking Mandarin</h1>

<h3>Dynamically created Mandarin self-study</h3>


<form>
<p>Enter your word here<br></p>
<input type="text">
<input type="submit">
</form>
    
    
</body>


</html>
